/* RESET default styles */
* {padding: 0;margin: 0;border: 0;}
*,*:before,*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus:active {outline: none;}
a:focus,a:active {outline: none;}
nav,header,footer,aside {display: block;}
html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
input,button,textarea {font-family: inherit; font-size: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padiing: 0;border: 0;}
a,a:visited,a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}

body {
  background-color: darkgrey;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/****************************************************************/


/* App as wrapper*/
.App {
  font-size: 6vw;
  margin: 0 auto;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;
}

/* Make dimensions static */
@media (min-width: 400px) {
  .App {
    /* as 6vw*/
    font-size: 24px;
  }
}
