.Board {
  margin: 0 0 0.7em;
  width: 100%;
  background: black;

  overflow: hidden;
  border: 0.3em solid black;
  border-radius: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.3em;

  margin: 0 0 0.7em;

  position: relative;
}
