.Square {
  background: #fff;
  font-size: 300%;
  font-weight: bold;
  text-align: center;

  position: relative;
  width: 100%;
  /* fix for aspect ratio  1:1 */
  padding-top: 100%;

  max-height: 100%;

  overflow: hidden;
}

.Square__symbol {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
